
body {
        background: url("/images/u_talca.jpg"); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        margin: 0;
}

body#no-background{
        background-image: none;
}

header {
        position: relative;
        margin: 0;
        padding-top: 0px;
}
.loginbody {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        color: white;
        position: center; 
        margin-top: 150px;
 }
.header {
        font-size: 26px;
        margin-right: center;
        margin-left: center;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 30px;
        
    }

.label {
        margin: center;
}

.button{
        background-color: #2b0237 ; 
        color: white;
        padding: 5px;
        border: 2px solid black;
        width: 20%; 
        text-align: center;
        margin-left: 450px; 
        margin-bottom: 30px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 8px;
}

.button:hover {
        background-color: #b885e7;
}


.button-accept {
        background-color: green; 
        color: white; 
        border: 1px solid black;
        font-size: 18;
        border-radius: 8px;
        cursor: pointer;
        width: 25%;
}

.button-accept:hover {
        background-color: #155c15;

}

.button-delete {
        background-color: rgb(218, 63, 63); 
        color: white; 
        border: 1px solid black;
        font-size: 18;
        border-radius: 8px;
        cursor: pointer;
        width: 25%;
}

.button-delete:hover {
        background-color: #880707;

}

.button-cancel {
        border: 1px solid black;
        font-size: 18;
        border-radius: 8px;
        cursor: pointer;
        width: 25%;
}

.button-cancel:hover {
        
}



.navbar {
        background: rgb(79,43,105);
        background: linear-gradient(94deg, rgba(79,43,105,1) 25%, rgba(111,94,124,1) 100%, rgba(117,96,133,1) 100%); 
}

.navbar-expand-lg {
        color:white;
}


.navbar-light {
        color:white;
}

.bg-light {
        color:white;
}

.agregar_carrera {
        background-image: url('/images/add_icon.png');
        background-repeat: no-repeat; 
        background-color: transparent;
        margin-left: auto;    
        text-align: left;
        border: none; /* Remove borders */
        padding: 0px 30px; /* Some padding */
        cursor: pointer; /* Mouse pointer on hover */
}


.agregar_plan {
        background-image: url('/images/add_icon_large.png');
        background-repeat: no-repeat; 
        background-color: transparent;
        margin: center;    
        text-align: center;
        height: 50;
        padding: 0px 60px;
        border: none; /* Remove borders */ /* Some padding */
        font-size: 30; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
}



#busc_carrera {
        background-image: url('/images/search_icon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 2px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
}

#mod_carrera {
        background-image: url('/images/edit_icon.png');
        background-repeat: no-repeat;
        background-color: transparent;
        width: 28px;
        height: 28px;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        border: none;
}
#mod_carrera:hover {
        background-color: rgb(160, 159, 159);
}
#del_carrera {
        background-image: url('/images/delete_icon.png');
        background-repeat: no-repeat;
        background-color: transparent;
        width: 28px;
        height: 28px;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        border: none;   
}
#del_carrera:hover {
        background-color: rgb(160, 159, 159);
}
      
#carreras_lista {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 2px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
}
      
#carreras_lista th, #carreras_lista td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
}
      
#carreras_lista tr {
        /* Add a bottom border to all table rows */
        border-bottom: 2px solid #ddd;
}
      
#carreras_lista tr.header, #carreras_lista tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #c1b0ca;
}
